terraform/.terraform
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/environments/test/.terraform
terraform/environments/test/.terraform.lock.hcl
terraform/environments/test/terraform.tfstate
azcreds.config
screenshot

